.headup {
    background-image: linear-gradient(to bottom, #aaaaaa, #eeeeee);
    object-fit: cover;
    height: 80px;
}

.themd {
    margin-top: -28px;
}

.thename {
    margin-top: 0px;
    margin-bottom: 0px;
}

.thelinkit {
    margin-bottom: -14px;
}
