<div class="grid grid-nogutter surface-section text-800 mt-8 md:mt-5">
    <div class="block md:hidden overflow-hidden" style="margin-top: -150px; margin-bottom: -50px">
        <img
            src="assets/image0000.jpg"
            alt="image0000"
            class="w-full"
            style="clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 92%)"
        >
    </div>
    <div class="col-12 md:col-6 pt-6 md:pl-6 md:pr-0 md:mt-5 text-center md:text-left flex align-items-center">
        <section>
            <span class="block text-4xl md:text-6xl font-bold mb-1">Let your software dream</span>
            <div class="text-4xl md:text-6xl text-primary font-bold mb-3">come true.</div>
            <p class="mt-0 mb-4 md:text-2xl line-height-3">If you are looking for <span class="font-bold">experience</span> and <span class="font-bold">professionalism</span> when it comes to <span class="font-bold">Software Engineering</span> I have great news for you.</p>
            <p class="mt-0 mb-4 md:text-2xl line-height-3 align-items-center">
                My name is <span class="font-bold ml-1 md:ml-2"> Orlando Abreu</span>
                <p-avatar
                    image="assets/metoday.jpeg"
                    styleClass="ml-1 md:ml-3"
                    size="xlarge"
                    [style]="{ 'border': '3px gray solid' }"
                    shape="circle"
                >
                </p-avatar>
                <span class="md:ml-3 line-height-3">and I am one click away.</span>
            </p>
            <div class="flex flex-column -mt-3 mb-3">
                <a class="m-3" href="mailto:orlye.ac@gmail.com">
                    <div class="flex flex-row align-items-center">
                        <i class="pi pi-envelope" style="font-size: 1.2rem; color: gray;"></i>
                        <span class="text-gray-700 font-bold ml-2">orlye.ac&#64;gmail.com</span>
                    </div>
                </a>
                <a class="m-3" href="https://wa.me/+5353425543" target="_blank">
                    <div class="flex flex-row align-items-center">
                        <i class="pi pi-whatsapp" style="font-size: 1.2rem; color: gray;"></i>
                        <span class="text-gray-700 font-bold ml-2">(+53) 53425543</span>
                    </div>
                </a>
                <a class="m-3" href="https://www.linkedin.com/in/orlyeac" target="_blank">
                    <div class="flex flex-row align-items-center">
                        <i class="pi pi-linkedin" style="font-size: 1.2rem; color: gray;"></i>
                        <span class="text-gray-700 font-bold ml-2">www.linkedin.com/in/orlyeac</span>
                    </div>
                </a>
                <a class="m-3" href="https://github.com/orlyeac" target="_blank">
                    <div class="flex flex-row align-items-center">
                        <i class="pi pi-github" style="font-size: 1.2rem; color: gray;"></i>
                        <span class="text-gray-700 font-bold ml-2">github.com/orlyeac</span>
                    </div>
                </a>
            </div>
            <button pButton pRipple label="Watch my experience and skills" icon="pi pi-code" type="button" class="mb-3 mr-1 md:mr-3 p-button-raised"></button>
            <button pButton pRipple label="Watch reviews about me" icon="pi pi-comments" type="button" class="mb-3 p-button-outlined"></button>
        </section>
    </div>
    <div class="hidden md:block md:col-6 overflow-hidden image0000">
        <img
            src="assets/image0000.jpg"
            alt="image0000"
            class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
        >
    </div>
</div>
<div class="fixed top-0 p-1 md:p-3 flex justify-content-between align-items-center" style="width: 100%; background-color: white;">
    <div class="flex flex-row align-items-center">
        <p-avatar
            label="T"
            styleClass="mr-1 md:mr-3"
            size="xlarge"
            [style]="{ 'background-color': '#2196f3', 'color': '#ffffff' }"
            shape="circle"
        >
        </p-avatar>
        <p class="text-800 line-height-3"><span class="hidden md:block">Welcome to </span><span class="font-bold">Tuxpoli</span></p>
    </div>
    <div>
        <div class="block md:hidden">
            <button pButton pRipple icon="pi pi-bars" type="button" class="mr-3"></button>
        </div>
    </div>
    <div class="hidden md:block">
        <div class="flex flex-row align-items-center">
            <button pButton pRipple label="Sign up" type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Log in" type="button" class="mr-3 p-button-outlined"></button>
        </div>
    </div>
</div>
<!-- <div class="grid grid-nogutter surface-section text-800 image0001" style="background-image: url('assets/image0001.jpg');">
</div> -->
