<div class="grid grid-nogutter surface-section text-800 mt-8 md:mt-5">
    <div class="block md:hidden overflow-hidden" style="margin-top: -150px; margin-bottom: -50px">
        <img
            src="assets/image0000.jpg"
            alt="image0000"
            class="w-full"
            style="clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 92%)"
        >
    </div>
    <div class="col-12 md:col-6 pt-6 md:pl-6 md:pr-0 md:mt-5 text-center md:text-left flex align-items-center">
        <section>
            <span class="block text-4xl md:text-6xl font-bold mb-1">Let your software dream</span>
            <div class="text-4xl md:text-6xl text-primary font-bold mb-3">come true.</div>
            <p class="mt-0 mb-4 md:text-2xl line-height-3">If you are looking for <span class="font-bold">experience</span> and <span class="font-bold">professionalism</span> when it comes to <span class="font-bold">Software Engineering</span> I have great news for you.</p>
            <p class="mt-0 mb-4 md:text-2xl line-height-3 align-items-center">
                My name is <span class="font-bold ml-1 md:ml-2"> Orlando Abreu</span>
                <p-avatar
                    image="assets/metoday.jpeg"
                    styleClass="ml-1 md:ml-3"
                    size="xlarge"
                    [style]="{ 'border': '3px gray solid' }"
                    shape="circle"
                >
                </p-avatar>
                <span class="md:ml-3 line-height-3">and I am one click away.</span>
            </p>
            <div class="flex flex-column -mt-3 mb-3">
                <a class="m-3" href="mailto:orlye.ac@gmail.com">
                    <div class="flex flex-row align-items-center">
                        <i class="pi pi-envelope" style="font-size: 1.2rem; color: gray;"></i>
                        <span class="text-gray-700 font-bold ml-2">orlye.ac&#64;gmail.com</span>
                    </div>
                </a>
                <a class="m-3" href="https://wa.me/+5353425543" target="_blank">
                    <div class="flex flex-row align-items-center">
                        <i class="pi pi-whatsapp" style="font-size: 1.2rem; color: gray;"></i>
                        <span class="text-gray-700 font-bold ml-2">(+53) 53425543</span>
                    </div>
                </a>
                <a class="m-3" href="https://www.linkedin.com/in/orlyeac" target="_blank">
                    <div class="flex flex-row align-items-center">
                        <i class="pi pi-linkedin" style="font-size: 1.2rem; color: gray;"></i>
                        <span class="text-gray-700 font-bold ml-2">www.linkedin.com/in/orlyeac</span>
                    </div>
                </a>
                <a class="m-3" href="https://github.com/orlyeac" target="_blank">
                    <div class="flex flex-row align-items-center">
                        <i class="pi pi-github" style="font-size: 1.2rem; color: gray;"></i>
                        <span class="text-gray-700 font-bold ml-2">github.com/orlyeac</span>
                    </div>
                </a>
            </div>
            <button pButton pRipple label="Watch my experience and skills" icon="pi pi-code" type="button" class="mb-3 mr-1 md:mr-3 p-button-raised"></button>
            <button pButton pRipple label="Watch reviews about me" icon="pi pi-comments" type="button" class="mb-3 p-button-outlined"></button>
        </section>
    </div>
    <div class="hidden md:block md:col-6 overflow-hidden image0000">
        <img
            src="assets/image0000.jpg"
            alt="image0000"
            class="md:ml-auto block md:h-full"
            style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
        >
    </div>
</div>

<div id="skills" class="surface-section px-4 py-8 md:px-6 lg:px-8 flex flex-column text-center justify-content-center" style="min-height:  99vh; max-width: 100%;">
    <div class="mb-3 font-bold text-3xl">
        <span class="text-900">One Developer, </span>
        <span class="text-blue-600">Many Ways To Collaborate</span>
    </div>
    <div class="text-700 mb-6">Explore my skill set and discover the multiple ways in which I could bring value</div>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-server text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Backend Development</div>
            <span class="text-700 line-height-3">Java, Spring Boot, Spring Data JPA, Spring Security, Spring Cloud, Python, Django</span>
            <div class="flex flex-row align-items-center w-full justify-content-center mt-3">
                <img class="ml-1 mr-1" src="assets/java.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/spring.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/python.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/django.svg" style="max-height: 40px;">
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Frontend Development</div>
            <span class="text-700 line-height-3">Angular, Typescript, Javascript, HTML, css</span>
            <div class="flex flex-row align-items-center w-full justify-content-center mt-3">
                <img class="ml-1 mr-1" src="assets/angular.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/typescript.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/javascript.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/html5.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/css3.svg" style="max-height: 40px;">
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Testing and CI / CD</div>
            <span class="text-700 line-height-3">JUnit, Mockito, Testcontainers, TDD, Github Actions, Docker</span>
            <div class="flex flex-row align-items-center w-full justify-content-center mt-3">
                <img class="ml-1 mr-1" src="assets/junit.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/mockito.png" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/github.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/docker.svg" style="max-height: 40px;">
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-building text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Software design</div>
            <span class="text-700 line-height-3">Microservices, Hexagonal Architecture, n-tier Architecture, DDD, SOLID, design patterns</span>
        </div>
        <div class="col-12 md:col-6 lg:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-database text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Databases</div>
            <span class="text-700 line-height-3">PostgreSQL, MySQL, MongoDB</span>
            <div class="flex flex-row align-items-center w-full justify-content-center mt-1">
                <img class="ml-1 mr-1" src="assets/postgresql.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/mysql.svg" style="max-height: 60px;">
                <img class="ml-1 mr-1" src="assets/mongodb.svg" style="max-height: 80px;">
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-history text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Version Control</div>
            <span class="text-700 line-height-3">Git, Github, Gitlab, Bitbucket</span>
            <div class="flex flex-row align-items-center w-full justify-content-center mt-3">
                <img class="ml-1 mr-1" src="assets/git.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/github.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/gitlab.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/bitbucket.svg" style="max-height: 40px;">
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-sitemap text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Message Queue</div>
            <span class="text-700 line-height-3">Apache Kafka, RabbitMQ</span>
            <div class="flex flex-row align-items-center w-full justify-content-center mt-3">
                <img class="ml-1 mr-1" src="assets/kafka.svg" style="max-height: 40px;">
                <img class="ml-1 mr-1" src="assets/rabbitmq.svg" style="max-height: 40px;">
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-box text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Embedded Systems and IoT</div>
            <span class="text-700 line-height-3">C, C++, STM32, LoRa</span>
            <div class="flex flex-row align-items-center w-full justify-content-center mt-1">
                <img class="ml-1 mr-1" src="assets/c.svg" style="max-height: 60px;">
                <img class="ml-1 mr-1" src="assets/c++.svg" style="max-height: 60px;">
                <img class="ml-1 mr-1" src="assets/stm.svg" style="max-height: 31px;">
                <img class="ml-1 mr-1" src="assets/lora.png" style="max-height: 40px;">
            </div>
        </div>
    </div>
</div>

<div id="projects" class="surface-section px-4 py-8 md:px-6 lg:px-8 flex flex-column text-center justify-content-center" style="min-height:  99vh; max-width: 100%;">
    <div class="mb-1 font-bold text-3xl">
        <span class="text-900">Talk Is Cheap, </span>
        <span class="text-blue-600">Show Me The Code</span>
    </div>
    <div class="text-700 mb-3">Explore some of my personal projects and star them on Github if you find them useful</div>
    <div class="flex flex-wrap m-2 text-center justify-content-center align-items-center gap-5">
        <p-card *ngFor="let project of projects" header="{{ project.name }}" subheader="{{ project.moto }}" [style]="{ width: '280px' }">
            <ng-template pTemplate="header">
                <img class="mt-3" alt="project.image" src="assets/{{ project.image }}" />
            </ng-template>
            <p>
                {{ project.description }}
            </p>
            <p-tag *ngFor="let i of project.skill" [rounded]="true" class="ml-1" [style]="{ 'margin-top': '3px' }">{{ i }}</p-tag>
            <ng-template pTemplate="footer">
                <a href="{{ project.git }}" target="_blank">
                    <div class="flex flex-row align-items-center">
                        <i class="text-gray-700 pi pi-github" style="font-size: 1.2rem;"></i>
                        <span class="text-gray-700 ml-1">Watch on Github</span>
                    </div>
                </a>
            </ng-template>
        </p-card>
    </div>
</div>

<div class="fixed top-0 p-1 md:p-3 flex justify-content-between align-items-center" style="width: 100%; background-color: white;">
    <div class="flex flex-row align-items-center">
        <p-avatar
            label="T"
            styleClass="mr-1 md:mr-3"
            size="xlarge"
            [style]="{ 'background-color': '#2196f3', 'color': '#ffffff' }"
            shape="circle"
        >
        </p-avatar>
        <p class="text-800 line-height-3"><span class="hidden md:block">Welcome to </span><span class="font-bold">Tuxpoli</span></p>
    </div>
    <div>
        <div class="block lg:hidden">
            <button pButton pRipple icon="pi pi-bars" type="button" class="mr-3"></button>
        </div>
    </div>
    <div class="hidden lg:block">
        <div class="flex flex-row align-items-center">
            <a class="mr-4" [routerLink]="['/']" fragment="skills">
                <div class="flex flex-row align-items-center">
                    <i class="text-blue-600 pi pi-wrench" style="font-size: 1.2rem; color: gray;"></i>
                    <span class="text-blue-600 ml-2">Skills</span>
                </div>
            </a>
            <a class="mr-4" [routerLink]="['/']" fragment="projects">
                <div class="flex flex-row align-items-center">
                    <i class="text-blue-600 pi pi-code" style="font-size: 1.2rem; color: gray;"></i>
                    <span class="text-blue-600 ml-2">Projects</span>
                </div>
            </a>
            <a class="mr-4" [routerLink]="['/']" fragment="reviews">
                <div class="flex flex-row align-items-center">
                    <i class="text-blue-600 pi pi-users" style="font-size: 1.2rem; color: gray;"></i>
                    <span class="text-blue-600 ml-2">Subscribers and reviews</span>
                </div>
            </a>
            <a class="mr-4" [routerLink]="['/']" fragment="experience">
                <div class="flex flex-row align-items-center">
                    <i class="text-blue-600 pi pi-briefcase" style="font-size: 1.2rem; color: gray;"></i>
                    <span class="text-blue-600 ml-2">Work experience</span>
                </div>
            </a>
            <a class="mr-4" [routerLink]="['/']" fragment="skills">
                <div class="flex flex-row align-items-center">
                    <i class="text-blue-600 pi pi-megaphone" style="font-size: 1.2rem; color: gray;"></i>
                    <span class="text-blue-600 ml-2">Blog</span>
                </div>
            </a>
            <button pButton pRipple label="Sign up" type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Log in" type="button" class="mr-3 p-button-outlined"></button>
        </div>
    </div>
</div>

<!-- <div class="grid grid-nogutter surface-section text-800 image0001" style="background-image: url('assets/image0001.jpg');">
</div> -->
