<div class="flex flex-column-reverse md:flex-row" style="height: 99vh;">
    <div class="
        flex
        flex-column
        justify-content-center
        md:col-6
        ml-3
        mr-3
        mb-6"
        style="margin-top: -10px;"
    >
        <div class="
            text-center
            m-auto"
        >
            <p-avatar
                label="T"
                styleClass="mr-2 ml-2"
                size="xlarge"
                [style]="{ 'background-color': '#2196f3', color: '#ffffff' }"
                shape="circle"
            ></p-avatar>
            <h1 class="hidden md:block">Login to your account</h1>
            <h3 class="block md:hidden">Login to your account</h3>
            <p-message
                *ngIf="failText"
                severity="error"
                [text]="failText"
                styleClass="mb-3"
            ></p-message>
            <div class="field">
                <label
                    for="email"
                    class="
                        flex
                        align-self-start"
                >Email</label>
                <input
                    id="email"
                    pInputText
                    [(ngModel)]="authenticationRequest.username"
                    placeholder="johndoe@email.com"
                    type="email"
                    class="w-full"
                >
            </div>
            <div class="field">
                <label
                    for="password"
                    class="
                        flex
                        align-self-start"
                >Password</label>
                <input
                    id="password"
                    pInputText
                    [(ngModel)]="authenticationRequest.password"
                    placeholder="Password"
                    type="password"
                    class="w-full"
                >
            </div>
            <button
                pButton
                (click)="login()"
                label="Login"
                class="w-full"
            ></button>
            <div class="
                flex
                flex-row
                mt-3"
            >
                You do not have an account yet?&nbsp;
                <a href="#">Sign up now</a>
            </div>    
        </div>
    </div>
    <div class="
        hidden
        md:block
        h-full
        w-full"
    >
        <div class="
            flex
            flex-column
            justify-content-center
            align-items-center
            image-level
            h-full
            w-full"
        >
            <h2>
                Welcome to
            </h2>
            <h1>
                Tuxpoli
            </h1>
            <h2>
                Fullstack Java/Angular
                <br>
                portfolio demo website
            </h2>
            <!-- <img src="assets/img/img000.png" class="background"> -->
            <h4 class="mb-3">
                Made with <label>&hearts;</label> by Orlando Abreu
            </h4>
        </div>
    </div>
    <div class="
        block
        md:hidden
        h-full
        w-full"
    >
        <div class="
            flex
            flex-column
            justify-content-center
            align-items-center
            up-image-level
            h-full
            w-full"
        >
            <h3>
                Welcome to
            </h3>
            <h1>
                Tuxpoli
            </h1>
            <h3>
                Fullstack Java/Angular
                <br>
                portfolio demo website
            </h3>
            <!-- <img src="assets/img/img000.png" class="background"> -->
            <h4 class="mb-3">
                Made with <label>&hearts;</label> by Orlando Abreu
            </h4>
        </div>
    </div>
</div>