<div class="flex flex-column-reverse md:flex-row" style="height: 99vh;">
    <div class="
        flex
        flex-column
        justify-content-center
        md:col-6
        m-3"
    >
        <div class="
            text-center
            m-auto"
        >
            <p-avatar
                label="T"
                styleClass="mr-2 ml-2"
                size="xlarge"
                [style]="{ 'background-color': '#2196f3', color: '#ffffff' }"
                shape="circle"
            ></p-avatar>
            <h1>Login to your account</h1>
            <div class="field">
                <label
                    for="email"
                    class="
                        flex
                        align-self-start"
                >Email</label>
                <input
                    id="email"
                    pInputText
                    placeholder="johndoe@email.com"
                    type="email"
                    class="w-full"
                >
            </div>
            <div class="field">
                <label
                    for="password"
                    class="
                        flex
                        align-self-start"
                >Password</label>
                <input
                    id="password"
                    pInputText
                    placeholder="Password"
                    type="password"
                    class="w-full"
                >
            </div>
            <button
                pButton
                label="Submit"
                class="w-full"
            ></button>
            <div class="
                flex
                flex-row
                mt-3"
            >
                You do not have an account yet?&nbsp;
                <a href="#">Sign up now</a>
            </div>    
        </div>
    </div>
    <div class="
        flex
        flex-column
        justify-content-center
        align-items-center
        image-level
        md:image-level-small
        h-full
        w-full"
    >
        <h2>
            Welcome to
        </h2>
        <h1>
            Tuxpoli
        </h1>
        <h2>
            Fullstack Java/Angular
            <br>
            portfolio demo website
        </h2>
        <!-- <img src="assets/img/img000.png" class="background"> -->
        <h3>
            Made with &hearts; by Orlando Abreu
        </h3>
    </div>
</div>